<!--
Author: Torin Foss
File Name: index.html for MusicDownloader
Date: 3/20/2019
Desciption: Front end for a music downloading web app
-->

<!DOCTYPE html>
<html>
    <head>
        <title>  </title>
        <meta charset="utf-8" />

        <!--include the jQuery Library: makes it easier to access elements in HTML-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!--Bootstrap files-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!--Custom Styles-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
        </head>
    <body>
       <!-- TITLE -->
      <div class="well">
        <h1 id="title">Downloader</h1>
      </div>

      <!-- <div class="well"> -->
      <div class="container">
        <form>
          <div class="row">
            <div class="col" id="searchContainer">
              <input id="search" type="text" class="form-control" placeholder="Search...">
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary" id="button">Search</button>
            </div>

          </div>
        <form>
      </div>

        <form>
          <center>
            <div class="row" >
                <!-- <label for="search" class="control-label">Search</label> -->
                <!-- <input id="search" type="text" class="form-control" placeholder="Search..."> -->
            </div>

            <br>
            <div class="row">
              <!-- <button type="button" class="btn btn-primary" id="button">Search</button> -->
            </div>
            </center>
        </form>
      <!-- </div> -->

      <!-- RESULTS  -->
        <table class="table table-dark" id="table">
          <thead id="head">
            <tr>
              <th scope="col">Download</th>
              <th scope="col">Track Name</th>
              <th scope="col">Artist Name</th>
              <th scope="col">Album Name</th>
              <th scope="col">id</th>
            </tr>
          </thead>
          <tbody id="results">
            <!-- TO BE FILLED  -->
          </tbody>
        </table>

        <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    </body>
</html>