<!--
Author: Torin Foss
File Name: index.html for MusicDownloader
Date: 3/20/2019
Desciption: Front end for a music downloading web app
-->

<!DOCTYPE html>
<html>
    <head>
        <title>  </title>
        <meta charset="utf-8" />

        <!--include the jQuery Library: makes it easier to access elements in HTML-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!--Bootstrap files-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!--Custom Styles-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    </head>
    <body>
       <!-- TITLE -->
      <div class="well">
        <h1 id="title">Downloader</h1>
      </div>

      <!-- SEARCH FIELD -->
      <div class="container">
        <form>
          <div class="row">
            <div class="col" id="searchContainer">
              <input id="search" type="text" class="form-control" placeholder="Search...">
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary" id="button">Search</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary" id="download">Download</button>
            </div>
          </div>
        <form>
      </div>

      <!-- RESULTS  -->
      <table class="table table-dark" id="table">
        <thead id="head">
          <tr>
            <th scope="col">Download</th>
            <th scope="col">Track Name</th>
            <th scope="col">Artist Name</th>
            <th scope="col">Album Name</th>
            <th scope="col">id</th>
          </tr>
        </thead>
        <tbody id="results" class="results">
          <!-- TO BE FILLED  -->
        </tbody>
      </table>

      <!-- <script src="{{ url_for('static', filename='js/functions.js') }}"></script> -->
      <script>
          /*global $*/

function addTrackToTable(track){
  let query = track["trackName"] + " " + track["artistName"];

  let str = '<tr>'+
              '<th scope="row"><input type="checkbox" name="download" value="' + query + '"></th>'+
              '<td id="track">' + track["trackName"] + '</td>' +
              '<td id="artist">' + track["artistName"] + '</td>' +
              '<td id="album">' + track["collectionName"] + '</td>' +
              '<td id="id>' + track["trackId"] + '</td>' +
            '</tr>';
  $("#results").append(str);
}

function buildResults(data){
  if(data["resultCount"] == 0){
    // console.log("No Search Results...");
    $("#results").html("No Search Results...");
    $("#results").show();
  }
  for(let i = 0; i < data["resultCount"]; i++){
    let temp = data["results"][i];
    if(temp["wrapperType"] == "track")
      addTrackToTable(temp);
    // else if(temp["wrapperType"] == "collection")
    //   getSongsOffAlbum(temp);

  }
  $("#results").show();
}

function getQueries(){
  let queries = [];
  $.each($("input[name='download']:checked"), function(){
    
    let curObj = {
      "track" : $("#track").html(),
      "artist" : $("#artist").html(),
      "album" : $("#album").html(),
      "id" : $("#id").html(),
    };
    queries.push(curObj);
  });
  return queries;
}

function generalSearch(query){
  $.ajax({
      type: "GET",
      url:  "https://itunes.apple.com/search",
      dataType: "json",
      data: {
        "term": query,
        "limit" : 200
      },
      success: function(data,status) {
          console.log(data);
          buildResults(data);
          // $("#test").html("<center>Success !!!</center>w");
      },
      complete: function(data,status) { //optional, used for debugging purposes
      }
  });//ajax
}

/** LINKING **/
$("#button").click(function(){
  // console.log("Click");
  // console.log($("#search").val().toLowerCase());
  // console.log("option: " + $("#menu").val());

  $("#results").html("");
  $("#table").show();

  let query = $("#search").val().toLowerCase();
  generalSearch(query);

});

$("#download").click(function(){
  // console.log("DL CLICKED");
  let queries = getQueries();
  // console.log(query);
  // post isnt working
  // need to be able to pass an array to only hit API once
  for(let i = 0; i < queries.length; i++){

    $.ajax({
      type: "GET",
      url:  "/download",
      dataType: "json",
      data: {
        "query": queries[i],
      },
      success: function(data,status) {
          console.log(data);
          // buildResults(data);
          // $("#test").html("<center>Success !!!</center>w");
      },
      complete: function(data,status) { //optional, used for debugging purposes
      }
    });//ajax

  }


  
});
  


/** MAIN **/
$("table").hide();
        </script>
    </body>
</html>